body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 2 px;
}

button {
    margin: 4px;
    background-color: #5f9341;
    color: white;
    border: 1px solid #5f9341;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}

ul{
    margin-top: 20px;
    padding-left: 0;
    list-style-type:none;

}

li{
    margin-top:5px;
}

a{
    color:#5f9341;
}

#delete-btn{
    color:#5f9341;
    background-color: white;
}